.hero-button {
  display: inline-block;
  opacity: 0.5;
  border-style: solid;
  padding: 25px 100px;
  font-size: 18px;
}
.hero-button:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero-button {
  background-color: #343638;
  color: #fff;
  border-color: #fff;
}

.like-button {
  position: absolute;
  opacity: 0.7;
  top: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-size: 16px;
  background-color: #343638;
  color: #fff;
  border: 2px #fff solid;
  cursor: pointer;
}
.like-button p {
  padding-right: 5px;
}
.like-button:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 1515px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid #459750;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  font-size: 20px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  min-width: 100%;
  display: inline-block;
  height: auto;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav a {
  padding: 10px 0 10px 30px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav a:hover {
  color: red;
}

h1 {
  font-size: 54px;
  color: #fff;
  margin-bottom: 40px;
}

.enlarger {
  font-size: 90px;
  padding: 0 20px;
}

.highlighter {
  font-weight: bold;
}

.article-heading {
  font-size: 26px;
  margin-bottom: 120px;
  text-align: center;
}

.hero-section {
  background-color: #fff;
  background-image: url("../img/apples.jpg");
  background-size: cover;
  text-align: center;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content-holder {
  width: 100%;
  text-align: center;
}

.company-slogan {
  color: #fff;
  font-size: 20px;
  margin-bottom: 150px;
}

.lorem-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  min-height: 430px;
}

.lorem-left-container,
.lorem-right-container {
  width: 50%;
}

.lorem-left {
  font-size: 28px;
  padding-right: 170px;
}

.lorem-rigth {
  font-size: 16px;
}

.article-section-holder {
  background-color: #f3f3f3;
  padding-top: 200px;
  margin-bottom: 40px;
}

.article-content-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.reverse-direction {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.article-image {
  width: 950px;
  overflow: hidden;
  position: relative;
}

.article-text {
  width: calc(100% - 950px);
  text-align: center;
  padding-left: 20px;
  font-size: 20px;
}

.article-image-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #fff;
}

.subscribe-section-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 60px 30px;
  margin-bottom: 40px;
}

.subscribe-section-heading {
  font-size: 30px;
}

.subscribe-section-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe-section-input input[type=text] {
  background-color: #f3f3f3;
  min-width: 800px;
  padding: 25px;
  font-size: 16px;
  color: #333;
  border: 1px #333 solid;
}
.subscribe-section-input input[type=submit] {
  background-color: #333;
  min-width: 100px;
  padding: 25px;
  font-size: 16px;
  color: #fff;
  border: 2px #333 solid;
  cursor: pointer;
}
.subscribe-section-input input[type=submit]:hover {
  color: red;
  background-color: green;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}