.content-box {
    display: flex;
    align-items: center;
    background-color: $primary-background-color;
    min-height: 430px;
    font-size: 16px;
}

.col-left {
    width: 50%;

    p {
        font-size: 28px;
        padding-right: 170px;
    }
}

.col-right {
    width: 50%;
}
