h1 {
    font-size: 54px;
    color: $text-primary-color;
    margin-bottom: 40px;
}

.enlarger {
    font-size: 90px;
    padding: 0 20px;
}

.highlighter {
    font-weight: bold;
}

.article-heading {
    font-size: 26px;
    margin-bottom: 120px;
    text-align: center;
}