h1 {
    font-size: 54px;
    color: $text-primary-color;
    margin-bottom: 40px;
}

h2 {
    font-size: 28px;
    margin-bottom: 120px;
    text-align: center;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;  
}

.enlarger {
    font-size: 90px;
    padding: 0 20px;
}

.highlighter {
    font-weight: bold;
}
