$text-primary-color: #fff;
$text-secondary-color: #333;
$hover-link-color: red;
$primary-background-color: #fff;
$secondary-background-color: #f3f3f3;

//button 
$button-background-color: #343638;
$button-border-color: #fff;
$button-font-size: 18px;
$button-padding: 25px 100px;
$button-border-width: 2px;
