@import 'variables';
@import 'mixin';
@import 'selector';
@import 'button';
@import 'container';
@import 'global';
@import 'header';

h1 {
    font-size: 54px;
    color: $text-primary-color;
    margin-bottom: 40px;
}

.enlarger {
    font-size: 90px;
    padding: 0 20px;
}

.hero-section {
    background-color: #e3d5b8;
	background-image: url("../img/apples.jpg");
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.hero-content-holder {
    width: 100%;
    text-align: center;
}

.company-slogan {
    color: $text-primary-color;
    font-size: 20px;
    margin-bottom: 150px;
}
